.RandomPokemon {
    border: 1px solid black;
    width: 400px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.RandomPokemon img {
    width: 150px;
}


.RandomPokemon h1 {
    color: blue;
    align-items: center;
}